html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  font-family: 'esteve-terrades-raleway-regular';

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  outline:none !important;
}

/* Detectar los insets del mobil (notch o phonegap)*/
:root {
  --notch-inset-top: 0px;
  --notch-inset-right: 0px;
  --notch-inset-bottom: 0px;
  --notch-inset-left: 0px;
}

/* Fonts: */
@font-face {
	font-family: "esteve-terrades-roboto-light";
	src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "esteve-terrades-raleway-regular";
	src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
	font-family: "esteve-terrades-raleway-medium";
	src: url("../fonts/Raleway/Raleway-Medium.ttf");
}

/* Displays: */
.custom-display-block {
	display: block;
}

/* Margins: */
.custom-margin-auto {
  margin: auto;
}

.custom-margin-1em {
  margin: 1em;
}

.custom-margin-2em {
  margin: 2em;
}

.custom-margin-top-1em {
  margin-top: 1em;
}

.custom-margin-top-2em {
  margin-top: 2em;
}

/* Paddings: */
.custom-padding-1em {
  padding: 1em !important;
}

.custom-padding-2em {
  padding: 2em !important;
}

/* Borders: */
.custom-border-none {
  border: none !important;
}

.custom-border-1px {
  border: 1px solid #ddd !important;
  box-shadow: 0 2px 2px 0 rgba(58, 105, 206, 0.2), 0 3px 1px -2px rgba(58, 105, 206, 0.2), 0 1px 5px 0 rgba(58, 105, 206, 0.2) !important;
}

.custom-border-radius {
  border-radius: 20px;
}

.custom-border-radius-bottom {
  border-radius: 0px 0px 20px 20px;
}

/* Color: */
.blue-gradient {
  background: linear-gradient(45deg, rgba(33,184,243,1) 0%, rgba(33,150,243,1) 50%, rgba(4,72,184,1) 100%);
}

.blue-text-gradient {
  background: linear-gradient(0deg, rgba(33,150,243,1) 0%, rgba(255,255,255,1) 65%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Width: */
.custom-width-100 {
  width: 100%;
}

.custom-width-80 {
  width: 80%;
}

.custom-width-75 {
  width: 75%;
}

.custom-width-50 {
  width: 50%;
}

.custom-width-75px {
  width: 75px;
}

/* Height */
.custom-height-100 {
  height: 100%;
}

.custom-height-75 {
  height: 75%;
}

.custom-height-50 {
  height: 50%;
}

.custom-height-75px {
  height: 75px;
}

/* Custom tags: */
/* Modificar el color de la label y el borde inferior de los inputs (la primera vez que se seleccionan) */
input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #2196F3;
}

input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}

/* Modificar el color de la label y el borde inferior de los inputs (Una vez son validados) */
input.valid[type="email"]:not(.browser-default), input.valid[type="password"]:not(.browser-default) {
  border-bottom: 1px solid #2196F3 !important;
  box-shadow: 0 1px 0 0 #2196F3 !important;
}

input[type="email"]:not(.browser-default):focus.valid ~ label, input[type="password"]:not(.browser-default):focus.valid ~ label {
  color: #2196F3;
}

/* Font Navbar */
#navbar {
  font-family: "esteve-terrades-raleway-medium";
  overflow: hidden;
}

/* Effects: */
.custom-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}